
#nav
{
   margin:0;
   padding:20px;
   background-color: darkblue;
}

#nav li
{
   display:inline;
   padding:5px;
   margin:0;
}

#nav li a{
  color: white;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  padding:5px;
}
#nav a:link, #nav a:visited
{

   color:#000;
   background:#b2b580;
}

/*
#nav a:link, #nav a:visited
{
   color:#000;
   background:#b2b580;
   padding:20px 40px 4px 10px;
}


#nav a:link, #nav a:visited
{
   color:#000;
   background:#b2b580;
   padding:20px 40px 4px 10px;
   float:left;
   width:auto;
}
*/
